
@font-face {
  font-family: "My Cool Font";
  src: url("../assets/fonts/Lobster/Lobster-Regular.ttf");
}


@font-face {
  font-family: "Josefine Regular";
  src: url("../assets/fonts/Josefin_Sans/JosefinSans-Regular.ttf");
}

@font-face {
  font-family: "Josefine Strong";
  src: url("../assets/fonts/Josefin_Sans/JosefinSans-Bold.ttf");
  font-weight: 900;
}
